<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.mryyaos.blog.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="xyz.mryyaos.blog.entity.User">
    <result column="id" property="id"/>
    <result column="user_name" property="userName"/>
    <result column="gender" property="gender"/>
    <result column="phone" property="phone"/>
    <result column="weixin" property="weixin"/>
    <result column="qq" property="qq"/>
    <result column="email" property="email"/>
    <result column="create_date" property="createDate"/>
    <result column="update_date" property="updateDate"/>
    <result column="status" property="status"/>
    <result column="power" property="power"/>
  </resultMap>

</mapper>